/*
Author: David Boone
Date: 5/8/21
File: styles.css
*/

a{
    text-decoration: none;
}
.alert{
    height: 50%;
    margin-top: 2rem;
    text-align: center;
}
#bio{
    height: 10rem;
}

.btn{
    width: 10%;
}

label{
    font-weight: bold;
}
#male,#female,.form-check-inline label{
    font-weight:normal;
}