/*
Author: David Boone
Date: 5/8/21
File: styles.css
*/

a{
    text-decoration: none;
}
.alert{
    height: 50%;
    margin-top: 2rem;
    text-align: center;
}
#bio{
    height: 10rem;
}
.border{
    height: max-content;
}
.btn{
    width: 10%;
    position: absolute;
    margin-left: 83%;
}
.btn a,.btn a:hover{
    color: white;
}
label{
    font-weight: bold;
}
#male,#female,.form-check-inline label{
    font-weight:normal;
}
#premiumLabel{
    font-weight: normal;
}
#summaryBtn{
    text-align: center;
}
#summaryBtn .btn{
    position: static;
    margin: 0;
    width: max-content;
}